#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.dll
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
packages/
WorkdayDownloader.vssscc
WorkdayDownloader/app.config
WorkdayDownloader.sln
WorkdayDownloader/DataHandlers/Allocations.cs
WorkdayDownloader/DataHandlers/BarNumbers.cs
WorkdayDownloader/DataHandlers/Education.cs
WorkdayDownloader/DataHandlers/EmergencyContactPhones.cs
WorkdayDownloader/DataHandlers/EmergencyContacts.cs
WorkdayDownloader/DataHandlers/Languages.cs
WorkdayDownloader/DataHandlers/Location_Tbl.cs
WorkdayDownloader/DataHandlers/NamesAddl.cs
WorkdayDownloader/DataHandlers/PayrollBalances.cs
WorkdayDownloader/DataHandlers/Personnel.cs
WorkdayDownloader/DataHandlers/PhoneRooms.cs
WorkdayDownloader/DataHandlers/ProfOverride.cs
WorkdayDownloader/DataHandlers/RetirementSavings.cs
