<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Used with WD Web Services -->
    <add key="Tenant" value="{Tenant Name}"/>
    <add key="Version" value="{API Version - Example: v23}"/>
    <!-- DB App Config Settings -->
    <!-- Name of SQL table with config values -->
    <add key="AppConfig" value="AppConfig"/>  <!-- Table Columns:  GROUP|KEY|VALUE -->
    <!-- Config Connection String -->
    <add key="Config_CONN" value="Server={Server};Database={Database};Trusted_Connection=True;"/>
    <!-- Config group -->
    <!-- The group name used in the AppConfig table.  This is the value in the GROUP field of the AppConfig table. -->
    <!-- This item allows you to use AppConfig for purposes outside of this application. -->
    <add key="ConfigGroup" value="WorkdayDownloader"/>
    <!-- Connect to Workday -->
    <add key="Default_CRED" value="{Workday Username},{Workday Password}"/>
    <!-- Primary Download DB Connection String -->
    <add key="Default_CONN" value="Server={Server};Database={Database};Trusted_Connection=True;"/>

    <!-- URL -->
    <!-- This is a url fragment for your RaaS urls.  You have the option to add the entire RaaS url to your AppConfig table, or use a fragment   -->
    <!-- such as 'myusername/SampleReport?format=csv'.  This makes it easier to transfer between tenants if the partial urls are stored in your AppConfig table. -->
    <add key="URL" value="https://wd5-impl-services1.workday.com/ccx/service/customreport2/{tenant name}/"/>

    <!-- Standard App SEtup -->
    <add key="SMTP_SUFFIX" value="@{domain}"/>    
    <add key="logLevel" value="ERROR"/>
    <add key="EmailFrom" value="noreply@{domain}"/>
    <add key="EmailTo" value="admin@{domain}"/>
    <add key="SMTPServer" value="{Server}"/>
    <add key="SMTPPort" value="{Port}"/>
    <add key="SMTPFrom" value="admin@{domain}"/>
    <!--Comma-separated list of email addresses-->
    <add key="SMTPTo" value="{email list}"/>


    <!--Copy this section for each table/report.  Replace SAMPLE_TABLE with your table name. -->
    <!--SAMPLE_TABLE configuration-->
    <add key="SAMPLE_TABLE_URL" value="{user name}/SampleReport?Periods!WID=%%WID%%&amp;Organization!WID=c7750ee2132810760fee8ad7d3d0939f&amp;Include_Subordinate_Organizations=1&amp;format=csv"/>
    <!--Optional: If the columns in the report match the table, this is not needed, otherwise provide the table column names.-->
    <add key="SAMPLE_TABLE_COLS" value="COLNAME1,COLNAME2,COLNAME3" />
    <!--Optional: Allows for a connection to a different database for this table.-->
    <add key="SAMPLE_TABLE_CONN" value="Server={Server};Database={Database};Trusted_Connection=True;"/>
    <!--Optional: Comma-separated list of table columns that can contain NULL-->
    <add key="SAMPLE_TABLE_NULLS" value=""/>
    <!--Optional: Comma-separated list of table columns with an associated type.  This option requires additional coding. The example below is for a decimal column. -->
    <add key="SAMPLE_TABLE_TYPES" value="{TABLE COLUMN NAME}:DEC" />
    <!--End SAMPLE_TABLE configuration-->



  </appSettings>
          <system.serviceModel>
            <bindings>
              <basicHttpBinding>
                <binding name="TalentBinding1" />
                <binding name="Human_ResourcesBinding1"/>
              </basicHttpBinding>
              <customBinding>
                <binding name="Human_ResourcesBinding">
                  <security authenticationMode="UserNameOverTransport" includeTimestamp="false" />
                  <textMessageEncoding messageVersion="Soap11">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                  </textMessageEncoding>
                  <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                    maxBufferSize="2147483647" realm="" />
                </binding>
                <binding name="TalentBinding">
                  <security authenticationMode="UserNameOverTransport" includeTimestamp="false" />
                  <textMessageEncoding messageVersion="Soap11">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                  </textMessageEncoding>
                  <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                    maxBufferSize="2147483647" realm="" />
                </binding>
              </customBinding>
            </bindings>
            <client>
              <endpoint address="https://wd5-impl-services1.workday.com/ccx/service/{tenant}/Talent/v20"
                binding="customBinding" bindingConfiguration="TalentBinding"
                contract="WD_TalentService.TalentPort" name="Talent" />
              <endpoint address="https://wd5-impl-services1.workday.com/ccx/service/{tenant}/Human_Resources/v20"
                binding="customBinding" bindingConfiguration="Human_ResourcesBinding"
                contract="WD_Human_Resources.Human_ResourcesPort" name="Human_Resources" />
            </client>
          </system.serviceModel>

          <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
